wf.json
{"updatedAt":"2026-04-04T20:04:26.099Z","createdAt":"2026-04-04T00:40:21.358Z","id":"7bFZJqc6KCcx0zsZ","name":"?? ISP Agent V5 - Mem?ria + Menu + Identifica??o","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"# ?? ENTRADA\n\nRecebe payload do ChatBanana.\nInicia mem?ria e sess?o.","height":304,"width":528,"color":5},"id":"0e26a670-8432-4432-bacd-e0dd2f84cb65","name":"?? S1 - ENTRADA","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-736,-176]},{"parameters":{"httpMethod":"POST","path":"chatbanana-isp-v5","options":{}},"id":"c991e5e7-9b64-4274-b51f-08a8679dc2b2","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-656,16],"webhookId":"68ce9731-0aef-4770-ac32-e14f95796bdc"},{"parameters":{"assignments":{"assignments":[{"id":"c6eed7fc-af20-417e-8c2c-bb4daf31d16d","name":"telefone","value":"={{ $json.body.telefone ?? $json.body.phone ?? '' }}","type":"string"},{"id":"74b8e65c-d12b-4a93-a7e0-f06259926e2b","name":"mensagem","value":"={{ $json.body.mensagem ?? $json.body.message ?? '' }}","type":"string"},{"id":"55cf6a63-9c8b-400c-8dba-ba5d53106b84","name":"mensagem_efetiva","value":"={{ $json.body.media_transcription || $json.body.media_description || $json.body.mensagem || $json.body.message || '' }}","type":"string"},{"id":"a76bf708-2b45-40d6-833d-7999856ba5c5","name":"conversation_id","value":"={{ $json.body.conversation_id ?? '' }}","type":"string"},{"id":"aa1344b4-014c-40a4-9748-4b409a6a5712","name":"workspace_id","value":"={{ $json.body.workspace_id ?? '' }}","type":"string"},{"id":"b975d537-eb1b-4d85-883b-cd1aab86d351","name":"contact_name","value":"={{ $json.body.contact_name ?? 'Cliente' }}","type":"string"},{"id":"e267b270-b2ad-4e3b-99de-879fd8d001a1","name":"chatbanana_url","value":"https://chatbanana.com.br","type":"string"},{"id":"18943fe8-dc65-4d94-9886-1ac012391ea0","name":"chatbanana_token","value":"chatbanana-n8n-2026","type":"string"},{"id":"agente-filter-001","name":"agente_do_usuario","value":"={{ $json.body.agente_do_usuario ?? false }}","type":"boolean"}]},"options":{}},"id":"fa7e975a-5810-41ca-9307-7636bf79148b","name":"Set Entrada","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,16]},{"parameters":{"content":"# ?? MEM?RIA + SESS?O\n\nCarrega hist?rico e estado\nda conversa do Supabase.","height":304,"width":528,"color":6},"id":"d157686d-4bac-429e-8de4-dbf426b17630","name":"S2 - MEMORIA + SESSAO","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-736,144]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/memory/session","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer chatbanana-n8n-2026"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, conversation_id: $('Set Entrada').item.json.conversation_id, telefone: $('Set Entrada').item.json.telefone }) }}","options":{"timeout":30000}},"id":"40faf894-3467-4787-b9de-7fa79300e4ff","name":"GET Sessao","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,176],"alwaysOutputData":true},{"parameters":{"url":"={{ $('Set Entrada').item.json.chatbanana_url + \"/api/n8n/memory/history/\" + $('Set Entrada').item.json.conversation_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer chatbanana-n8n-2026"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":30000}},"id":"a7d41e72-19d2-49e6-828b-092a800f3913","name":"GET Historico","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,320],"alwaysOutputData":true},{"parameters":{"content":"# ?? ERP ENRICHMENT\n\nIdentifica cliente pelo telefone.\nPersonaliza sauda??o pelo nome.","height":192,"width":528,"color":4},"id":"1f1c6935-7e97-4a24-803e-884b15b81416","name":"?? S3 - ERP ENRICHMENT","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-736,448]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/erp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ action: 'enrichmentCompleto', params: { cpf: $('GET Sessao').item.json.session?.cpf ?? null, contrato_id: $('GET Sessao').item.json.session?.contrato_id ?? null }, workspace_id: $('Set Entrada').item.json.workspace_id }) }}","options":{"timeout":20000}},"id":"f27056cf-fc67-42d5-90bb-50c8b4b65abe","name":"POST ERP Enrichment","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,496],"alwaysOutputData":true},{"parameters":{"content":"# ?? CONTEXTO + SDR\n\nMonta contexto com mem?ria.\nClassifica intent considerando sess?o.","height":192,"width":528,"color":3},"id":"243dbedf-c13e-4bd0-bea1-31b0625e91d4","name":"?? S4 - CONTEXTO + SDR","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-736,640]},{"parameters":{"jsCode":"const entrada  = $('Set Entrada').item.json;\nconst sessRaw  = $('GET Sessao').item.json;\nconst histRaw  = $('GET Historico').item.json;\nconst erpRaw   = $('POST ERP Enrichment').item.json;\nconst sessao   = sessRaw.session ?? {};\nconst historico = histRaw.history ?? [];\nconst erp      = erpRaw.result ?? erpRaw;\nconst F        = erp.financial ?? {};\nconst msg      = (entrada.mensagem_efetiva || entrada.mensagem || '').toLowerCase().trim();\nconst msgOriginal = entrada.mensagem_efetiva || entrada.mensagem || '';\n\n// ?? Detec??o de CPF na mensagem ??????????????????????????????\nconst cpfRegex = /(\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}|\\d{11})/;\nconst cpfEncontrado = msgOriginal.match(cpfRegex)?.[0]?.replace(/\\D/g, '') ?? null;\nconst cpfSessao = sessao.dados_coletados?.cpf ?? sessao.cpf ?? null;\nconst cpfAtivo = cpfEncontrado ?? cpfSessao ?? null;\n\n// ?? Detec??o de sele??o de contrato ??????????????????????????\nconst contratoSelecionado = sessao.contrato_id ?? null;\nconst multiplosContratos = erp.multiplos_contratos ?? false;\nconst aguardandoCpf = erp.aguardando_cpf ?? false;\nconst contratos = erp.contratos ?? [];\n\n// ?? Nome do cliente ???????????????????????????????????????????\nconst clienteNome = erp.contrato_selecionado?.cliente?.name\n  ?? erp.cliente?.name\n  ?? sessao.cliente_nome\n  ?? entrada.contact_name\n  ?? 'Cliente';\n\nconst jaIdentificado = sessao.identificado === true || !!cpfAtivo;\nconst fluxoAtual     = sessao.fluxo_atual ?? 'menu';\nconst primeiraMensagem = historico.length === 0;\n\n// ?? Hist?rico formatado ???????????????????????????????????????\nconst historicoFormatado = historico.length > 0\n  ? historico.map(t => `${t.role==='user'?'Cliente':'Agente'}: ${t.content}`).join('\\n')\n  : 'Primeira intera??o.';\n\n// ?? SDR: classifica??o de intent ??????????????????????????????\nlet intent = 'MENU';\n\nconst eSaudacao = ['oi','ol?','ola','bom dia','boa tarde','boa noite','hello','hi','hey','oii','oiii'].some(s=>msg===s||msg.startsWith(s+' '));\n\n// Cliente enviou CPF ? intent especial para processar identifica??o\nif (cpfEncontrado && !cpfSessao) {\n  intent = 'IDENTIFICACAO';\n}\n// M?ltiplos contratos e cliente ainda n?o escolheu ? aguardar sele??o\nelse if (multiplosContratos && !contratoSelecionado) {\n  intent = 'SELECAO_CONTRATO';\n}\n// Aguardando CPF ? solicitar identifica??o\nelse if (aguardandoCpf && !cpfAtivo) {\n  intent = 'SOLICITAR_CPF';\n}\n// Est? em fluxo espec?fico e n?o mudou de assunto\nelse if (fluxoAtual !== 'menu' && !eSaudacao) {\n  intent = fluxoAtual.toUpperCase();\n}\n\n// Keywords por departamento\nconst kSup  = ['suporte','sem internet','internet caiu','lento','lentid?o','offline','n?o conecta','sem sinal','reiniciar','roteador','velocidade','queda'];\nconst kFin  = ['financeiro','fatura','boleto','pagar','d?bito','cobran?a','segunda via','pix','vencimento','renegocia??o','desbloquear','promessa'];\nconst kCom  = ['contratar','novo plano','planos','upgrade','instala??o','mudar plano','comercial','assinar','pacote','velocidade maior'];\nconst kHum  = ['humano','atendente','pessoa','falar com','transferir','quero falar'];\n\nif (intent === 'MENU' || intent === 'MENU') {\n  if (kHum.some(w=>msg.includes(w)))       intent = 'HUMANO';\n  else if (kSup.some(w=>msg.includes(w)))  intent = 'SUPORTE';\n  else if (kFin.some(w=>msg.includes(w)))  intent = 'FINANCEIRO';\n  else if (kCom.some(w=>msg.includes(w)))  intent = 'COMERCIAL';\n  else if (eSaudacao || primeiraMensagem)   intent = 'MENU';\n}\n\n// Override: suspenso ? financeiro\nif (F.is_suspended && intent === 'MENU') intent = 'FINANCEIRO';\n\nreturn [{json:{\n  ...erp,\n  mensagem:              msg,\n  mensagem_original:     msgOriginal,\n  conversation_id:       entrada.conversation_id,\n  workspace_id:          entrada.workspace_id,\n  telefone:              entrada.telefone,\n  contact_name:          entrada.contact_name,\n  cliente_nome:          clienteNome,\n  ja_identificado:       jaIdentificado,\n  primeira_mensagem:     primeiraMensagem,\n  fluxo_atual:           fluxoAtual,\n  historico_formatado:   historicoFormatado,\n  sessao,\n  intent,\n  cpf_ativo:             cpfAtivo,\n  cpf_encontrado:        cpfEncontrado,\n  multiplos_contratos:   multiplosContratos,\n  contratos:             contratos,\n  contrato_selecionado:  erp.contrato_selecionado ?? null,\n  aguardando_cpf:        aguardandoCpf,\n}}];"},"id":"4f44a608-a78e-425a-a3a9-cbe729f370c3","name":"Code: Contexto + SDR","type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,688]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2dac23de-f762-40a7-8d64-24824a469d09","leftValue":"={{ $json.intent }}","rightValue":"MENU","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2bb1ddc4-c40a-41c4-b563-d788369bbe99","leftValue":"={{ $json.intent }}","rightValue":"SUPORTE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"85424b7f-afc0-485e-a815-49717f9f9e25","leftValue":"={{ $json.intent }}","rightValue":"FINANCEIRO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"79b9dfec-3bb3-4fc5-a0ae-eb3fae3c8581","leftValue":"={{ $json.intent }}","rightValue":"COMERCIAL","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ebb52d31-74bf-4996-a773-f8024126adb4","leftValue":"={{ $json.intent }}","rightValue":"HUMANO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"314f74f8-646e-4e4e-a6fb-eaccd2d6495e","leftValue":"={{ $json.intent }}","rightValue":"SOLICITAR_CPF","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d38aa566-7d5c-4ccf-9cce-4a73985cccea","leftValue":"={{ $json.intent }}","rightValue":"IDENTIFICACAO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9e7583a3-092b-46ac-98ee-d0fc8952907a","leftValue":"={{ $json.intent }}","rightValue":"SELECAO_CONTRATO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"none"}},"id":"d626b36f-35e4-4755-b89a-a1e62fa82ea8","name":"Switch: Routing V5","type":"n8n-nodes-base.switch","typeVersion":3,"position":[640,224]},{"parameters":{"content":"# ? MENU PRINCIPAL\n\nSauda??o personalizada pelo nome.\nEnvia lista interativa WhatsApp.","height":240,"width":896,"color":2},"id":"5a7ce444-d746-4b57-8273-478c85514831","name":"? S6 - MENU PRINCIPAL","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1904,160]},{"parameters":{"jsCode":"const ctx  = $('Code: Contexto + SDR').item.json;\nconst nome = ctx.cliente_nome ?? 'Cliente';\nconst isCliente = ctx.ja_identificado && !!ctx.cliente?.id;\nlet saudacao;\nif (ctx.primeira_mensagem) {\n  if (isCliente) {\n    saudacao = `Olá, ${nome}! Que bom ter você aqui!\\n\\nVi que você já é nosso cliente. Como posso ajudar hoje?`;\n  } else {\n    saudacao = `Olá! Seja bem-vindo(a)!\\n\\nSou o assistente virtual. Como posso ajudar?`;\n  }\n} else {\n  saudacao = `${nome}, como posso ajudar? Selecione uma opção abaixo:`;\n}\nconst sections = [\n  {\n    title: \"Atendimento\",\n    rows: [\n      { id: \"SUPORTE\",    title: \"Suporte Técnico\",     description: \"Internet lenta, sem conexão, problemas\" },\n      { id: \"FINANCEIRO\", title: \"Financeiro\",               description: \"Faturas, pagamentos, desbloqueio\" },\n      { id: \"COMERCIAL\",  title: \"Comercial\",                description: \"Novos planos, upgrade, contratação\" },\n      { id: \"HUMANO\",     title: \"Falar com Atendente\",      description: \"Atendimento humano\" },\n    ]\n  }\n];\nreturn [{json:{\n  saudacao,\n  sections,\n  conversation_id: ctx.conversation_id,\n  workspace_id:    ctx.workspace_id,\n  cliente_nome:    nome,\n  ja_identificado: isCliente,\n  cliente_id:      ctx.cliente?.id ?? null,\n}}];"},"id":"cfbaaa2a-b2ac-47eb-a21d-365f2d875443","name":"Code: Monta Menu","type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,256]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/send/list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer chatbanana-n8n-2026"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ conversation_id: $('Set Entrada').item.json.conversation_id, workspace_id: $('Set Entrada').item.json.workspace_id, type: 'list', header: 'Sofia - Atendimento', body: $('Code: Monta Menu').item.json.saudacao, footer: 'Escolha uma opção abaixo', button_label: 'Ver opções', sections: $('Code: Monta Menu').item.json.sections }) }}","options":{"timeout":30000}},"id":"c09036ce-80ce-493e-92a3-37cb23fc3d43","name":"POST Envia Lista Menu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2224,256]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/memory/save","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, conversation_id: $('Set Entrada').item.json.conversation_id, telefone: $('Set Entrada').item.json.telefone, user_message: $('Set Entrada').item.json.mensagem, assistant_message: \"\", intent: \"MENU\", session_updates: { fluxo_atual: \"menu\", identificado: $(\"Code: Contexto + SDR\").item.json.ja_identificado ?? false, cliente_nome: $(\"Code: Contexto + SDR\").item.json.cliente_nome ?? \"\", dados_coletados: { cpf: $(\"Code: Contexto + SDR\").item.json.cpf_ativo ?? null }, cliente_id_erp: $(\"GET Sessao\").item.json.session?.cliente_id_erp ?? \"\" } }) }}","options":{"timeout":10000}},"id":"b73a6a07-4121-433e-8c0f-819e35287b44","name":"POST Salva Turno Menu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2416,256],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"content":"# ?? SUPORTE T?CNICO\n\nConsulta status no SGP.\nTroubleshooting guiado.\nAbre chamado se n?o resolver.","height":224,"width":656,"color":6},"id":"5454676c-725f-495c-98c8-a46e4f4ea7ef","name":"?? S7 - SUPORTE T?CNICO","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1088,-480]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/ai","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer chatbanana-n8n-2026"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, prompt_name: 'agente_suporte_online', mensagem: $('Set Entrada').item.json.mensagem, context: Object.assign({}, $json, { conversation_id: $('Set Entrada').item.json.conversation_id, telefone: $('Set Entrada').item.json.telefone, contact_name: $('Set Entrada').item.json.contact_name, sessao: $('GET Sessao').item.json.session ?? {}, briefing: $('Orquestrador').item.json.orquestrador?.briefing ?? '' }), historico: $('GET Historico').item.json.history ?? [] }) }}","options":{"timeout":30000}},"id":"ebf04c5e-843f-45b1-9606-f11c09700d24","name":"POST AI Suporte","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,-400]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ conversation_id: $(\"Set Entrada\").item.json.conversation_id, message: $json.result?.response ?? $json.response ?? \"\", humanize: true }) }}","options":{"timeout":20000}},"id":"7c810749-d453-4b10-b66b-da4738e2606a","name":"POST Envia Suporte","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,-400]},{"parameters":{"method":"POST","url":"=={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/memory/save","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $(\"Set Entrada\").item.json.workspace_id, conversation_id: $(\"Set Entrada\").item.json.conversation_id, telefone: $(\"Set Entrada\").item.json.telefone, user_message: $(\"Code: Contexto + SDR\").item.json.mensagem_original, assistant_message: $(\"POST AI Suporte\").item.json.result?.response ?? $(\"POST AI Suporte\").item.json.response ?? \"\", intent: \"SUPORTE\", session_updates: { fluxo_atual: \"suporte\", identificado: true, cliente_nome: $(\"Code: Contexto + SDR\").item.json.cliente_nome, cliente_id_erp: $(\"Code: Contexto + SDR\").item.json.cliente?.id ?? \"\" } }) }}","options":{"timeout":10000}},"id":"b2f2320c-e1d8-432e-b477-d0cf8e2f94bf","name":"POST Salva Turno Suporte","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,-400],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"content":"# ?? FINANCEIRO\n\nFaturas, pagamentos, promessa.\nDesbloqueio nativo SGP/IXC.","height":224,"width":656,"color":4},"id":"d8d49fd4-69f5-4939-9c63-8cc843019749","name":"?? S8 - FINANCEIRO","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1088,-240]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/ai","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer chatbanana-n8n-2026"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, prompt_name: 'agente_financeiro', mensagem: $('Set Entrada').item.json.mensagem, context: Object.assign({}, $json, { conversation_id: $('Set Entrada').item.json.conversation_id, telefone: $('Set Entrada').item.json.telefone, contact_name: $('Set Entrada').item.json.contact_name, sessao: $('GET Sessao').item.json.session ?? {}, briefing: $('Orquestrador').item.json.orquestrador?.briefing ?? '' }), historico: $('GET Historico').item.json.history ?? [] }) }}","options":{"timeout":30000}},"id":"4522523c-3397-4f63-8503-382f63dbe20f","name":"POST AI Financeiro","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1216,-144]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ conversation_id: $(\"Set Entrada\").item.json.conversation_id, message: $json.result?.response ?? $json.response ?? \"\", humanize: true }) }}","options":{"timeout":20000}},"id":"ef126b0f-fb2c-4ca3-83a7-92298c2eed21","name":"POST Envia Financeiro","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,-144]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/memory/save","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $(\"Set Entrada\").item.json.workspace_id, conversation_id: $(\"Set Entrada\").item.json.conversation_id, telefone: $(\"Set Entrada\").item.json.telefone, user_message: $(\"Code: Contexto + SDR\").item.json.mensagem_original, assistant_message: $(\"POST AI Financeiro\").item.json.result?.response ?? $(\"POST AI Financeiro\").item.json.response ?? \"\", intent: \"FINANCEIRO\", session_updates: { fluxo_atual: \"financeiro\", cliente_nome: $(\"Code: Contexto + SDR\").item.json.cliente_nome, cliente_id_erp: $(\"Code: Contexto + SDR\").item.json.cliente?.id ?? \"\" } }) }}","options":{"timeout":10000}},"id":"07e8115a-9ec7-424f-a3fe-acc5339addef","name":"POST Salva Turno Financeiro","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,-144],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"content":"# ?? COMERCIAL\n\nSDR de vendas.\nVerifica viabilidade no SGP.\nColeta dados e fecha contrato.","height":288,"width":656,"color":5},"id":"d4929e82-ac18-4b0c-b693-d48220041779","name":"?? S9 - COMERCIAL","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1088,0]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/ai","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer chatbanana-n8n-2026"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, prompt_name: 'agente_financeiro', mensagem: $('Set Entrada').item.json.mensagem, context: Object.assign({}, $json, { conversation_id: $('Set Entrada').item.json.conversation_id, telefone: $('Set Entrada').item.json.telefone, contact_name: $('Set Entrada').item.json.contact_name, sessao: $('GET Sessao').item.json.session ?? {}, briefing: $('Orquestrador').item.json.orquestrador?.briefing ?? '' }), historico: $('GET Historico').item.json.history ?? [] }) }}","options":{"timeout":30000}},"id":"e955dca8-6280-43ce-9cef-1f7c192cfdd0","name":"POST AI Comercial","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1216,144]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ conversation_id: $(\"Set Entrada\").item.json.conversation_id, message: $json.result?.response ?? $json.response ?? \"\", humanize: true }) }}","options":{"timeout":20000}},"id":"5a639483-cbcd-467c-8350-5b627cfd82cb","name":"POST Envia Comercial","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,144]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/memory/save","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $(\"Set Entrada\").item.json.workspace_id, conversation_id: $(\"Set Entrada\").item.json.conversation_id, telefone: $(\"Set Entrada\").item.json.telefone, user_message: $(\"Code: Contexto + SDR\").item.json.mensagem_original, assistant_message: $(\"POST AI Comercial\").item.json.result?.response ?? $(\"POST AI Comercial\").item.json.response ?? \"\", intent: \"COMERCIAL\", session_updates: { fluxo_atual: \"comercial\", cliente_nome: $(\"Code: Contexto + SDR\").item.json.cliente_nome } }) }}","options":{"timeout":10000}},"id":"3bb1fbb2-5f32-4439-a710-cee8ed400d7d","name":"POST Salva Turno Comercial","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,144],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"content":"# ?? TRANSFER?NCIA\n\nTransfere para fila humana.\nEnvia resumo da conversa.","height":224,"width":656},"id":"de274d88-035f-4685-bdd4-3e02cda4276d","name":"?? S10 - TRANSFER?NCIA HUMANO","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1088,304]},{"parameters":{"jsCode":"const ctx  = $('Code: Contexto + SDR').item.json;\nconst hist = $('GET Historico').item.json.history ?? [];\nconst resumo = hist.slice(-6).map(t=>`${t.role==='user'?'Cliente':'Agente'}: ${t.content}`).join('\\n');\nconst msg = `?? *Transferindo para atendente humano*\\n\\n${ctx.cliente_nome}, vou te conectar com um de nossos especialistas agora.\\n\\nAguarde um momento! ??`;\nreturn [{json:{ mensagem_transferencia: msg, resumo_conversa: resumo, conversation_id: ctx.conversation_id, workspace_id: ctx.workspace_id }}];"},"id":"77eb3c4c-8a89-4e63-a61f-bfc49792b71d","name":"Code: Prepara Transfer?ncia","type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,368]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ conversation_id: $json.conversation_id, message: $json.mensagem_transferencia, humanize: false }) }}","options":{"timeout":15000}},"id":"c37f31d7-c20d-4815-8667-15cacf1fe94d","name":"POST Envia Msg Transfer?ncia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,368]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ok:true,intent:$(\"Code: Contexto + SDR\").item.json.intent??\"\"}) }}","options":{}},"id":"c3dacecf-eaed-4872-940d-f91215ac6479","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2624,256]},{"parameters":{"jsCode":"const entrada   = $('Set Entrada').item.json;\nconst sessao    = $('GET Sessao').item.json.session ?? {};\nconst erp       = $('POST ERP Enrichment').item.json?.result ?? $('POST ERP Enrichment').item.json ?? {};\nconst sdr       = $json;\n\nconst fluxoAtual      = sessao.fluxo_atual ?? 'menu';\nconst novoIntent      = sdr.intent;\nconst primeiraMensagem = sdr.primeira_mensagem;\nconst clienteNome     = sdr.cliente_nome ?? '';\nconst primeiroNome    = clienteNome.split(' ')[0] || 'cliente';\nconst F               = erp.financial ?? erp.financeiro ?? {};\n\nconst intentToFluxo = { SUPORTE:'suporte', FINANCEIRO:'financeiro', COMERCIAL:'comercial', MENU:'menu', HUMANO:'humano' };\nconst novoFluxo     = intentToFluxo[novoIntent] ?? 'menu';\nconst mudouDeFluxo  = fluxoAtual !== novoFluxo && novoFluxo !== 'menu' && fluxoAtual !== 'menu';\nconst entrouEmFluxo = fluxoAtual === 'menu' && novoFluxo !== 'menu';\n\nlet mensagemTransicao = null;\nlet deveSendTransicao = false;\nlet briefing = '';\n\nif (mudouDeFluxo || entrouEmFluxo) {\n  deveSendTransicao = true;\n\n  switch(novoIntent) {\n    case 'SUPORTE': {\n      const statusConexao = erp.conexao?.status ?? erp.connection?.status ?? 'desconhecido';\n      const estaOffline   = erp.conexao?.esta_offline ?? erp.conexao?.offline ?? false;\n      mensagemTransicao = `Entendido${primeiroNome ? ', ' + primeiroNome : ''}! Vou verificar a situacao da sua conexao agora.`;\n      briefing = `BRIEFING DO ORQUESTRADOR: Cliente reportou problema de suporte. Status da conexao no ERP: ${statusConexao}. ${estaOffline ? 'ATENCAO: conexao offline no ERP.' : ''} Va direto ao diagnostico sem apresentacoes.`;\n      break;\n    }\n    case 'FINANCEIRO': {\n      const valor    = F.valor_devido ?? F.amount_due ?? 0;\n      const suspenso = F.esta_suspenso ?? F.is_suspended ?? false;\n      const faturas  = F.faturas_abertas ?? F.open_invoices ?? 0;\n      mensagemTransicao = `Certo! Deixa eu verificar sua situacao financeira...`;\n      briefing = `BRIEFING DO ORQUESTRADOR: Cliente quer tratar financeiro. Situacao: valor devido R$${valor}, ${faturas} fatura(s) em aberto, conexao ${suspenso ? 'SUSPENSA' : 'ativa'}. Apresente esses dados imediatamente na primeira resposta sem perguntar nada.`;\n      break;\n    }\n    case 'COMERCIAL': {\n      const plano      = erp.cliente?.plano ?? erp.client?.plan ?? 'nao identificado';\n      const velocidade = erp.cliente?.velocidade ?? erp.client?.speed ?? '';\n      mensagemTransicao = `Otimo! Vou te mostrar as opcoes disponiveis.`;\n      briefing = `BRIEFING DO ORQUESTRADOR: Cliente interessado em planos/upgrade. Plano atual: ${plano}${velocidade ? ' / ' + velocidade : ''}. Ofereca opcoes relevantes para o perfil.`;\n      break;\n    }\n  }\n}\n\nif (!deveSendTransicao && novoFluxo !== 'menu') {\n  briefing = `Continuacao do atendimento em ${novoFluxo}. NAO se apresente. Continue exatamente de onde parou na conversa.`;\n}\n\nif (primeiraMensagem && novoFluxo === 'menu') {\n  briefing = 'Primeira interacao do cliente. O menu sera enviado em seguida.';\n}\n\nreturn [{json: {\n  ...sdr,\n  intent: novoIntent,\n  orquestrador: {\n    deve_enviar_transicao: deveSendTransicao,\n    mensagem_transicao: mensagemTransicao,\n    briefing,\n    fluxo_anterior: fluxoAtual,\n    novo_fluxo: novoFluxo\n  }\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,400],"id":"e9a40e39-c03d-4d0c-abe2-26618a3047c5","name":"Orquestrador"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b71591e2-3d08-4d9d-a3a1-2264f6bb0efa","leftValue":"{{ $json.orquestrador.deve_enviar_transicao }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-16,240],"id":"f794af2f-1bf5-4bc5-8325-5fcc25209ae1","name":"If"},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-n8n-token","value":"chatbanana-n8n-2026"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json ","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, conversation_id: $('Set Entrada').item.json.conversation_id, message: $('POST AI Orquestrador').item.json.response, type: 'text' }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,480],"id":"46fe1290-1d56-4e19-98bb-6b889a613827","name":"POST Envia Transi??o"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[240,672],"id":"c654d72d-70ad-4342-aabf-d4351a4af0d4","name":"Merge"},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/ai","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-token","value":"chatbanana-n8n-2026"}]},"sendBody":true,"contentType":"raw","rawContentType":"=application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, prompt_name: 'agente_orquestrador', mensagem: $('Set Entrada').item.json.mensagem, context: { intent: $('Orquestrador').item.json.intent, fluxo_anterior: $('Orquestrador').item.json.orquestrador.fluxo_anterior, novo_fluxo: $('Orquestrador').item.json.orquestrador.novo_fluxo, cliente_nome: $('Orquestrador').item.json.cliente_nome, primeira_mensagem: $('Orquestrador').item.json.primeira_mensagem, financeiro: $('Orquestrador').item.json.financeiro, conexao: $('Orquestrador').item.json.conexao, sessao: $('GET Sessao').item.json.session ?? {} }, historico: $('GET Historico').item.json.history ?? [] }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,224],"id":"012ceb8f-ae36-4ba5-951b-83d80a3fe3a1","name":"POST AI Orquestrador"},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/identify","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-token","value":"chatbanana-n8n-2026"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, conversation_id: $('Set Entrada').item.json.conversation_id, telefone: $('Set Entrada').item.json.telefone, cpf: $json.cpf_ativo ?? null, contrato_id: $('GET Sessao').item.json.session?.contrato_id ?? null }) }}","options":{}},"id":"identify-node-01","name":"POST Identify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,640]},{"parameters":{"jsCode":"const entrada = $('Set Entrada').item.json;\nconst resultado = $json;\nconst status = resultado.status;\nlet mensagem = '';\nswitch(status) {\n  case 'aguardando_cpf':\n    mensagem = 'Olá! Para continuar, preciso confirmar sua identidade.\\n\\nPor favor, me informe seu *CPF* (somente números):';\n    break;\n  case 'nao_encontrado':\n    mensagem = 'Não encontrei cadastro com esse CPF. Verifique os números e tente novamente, ou digite *humano* para falar com um atendente.';\n    break;\n  case 'multiplos_contratos':\n    const lista = resultado.contratos.map((c, i) => `*${i+1}.* ${c.endereco ?? 'Endereço não informado'} - Plano: ${c.plano ?? '-'} (${c.status ?? '-'})`).join('\\n');\n    mensagem = `Encontrei *${resultado.contratos.length} contratos* vinculados ao seu CPF:\\n\\n${lista}\\n\\nQual contrato você quer tratar? Responda com o *número* da opção.`;\n    break;\n  case 'identificado':\n    const nome = resultado.cliente?.name?.split(' ')[0] ?? 'cliente';\n    mensagem = `Identidade confirmada! Olá, *${nome}*!\\n\\nComo posso te ajudar hoje?`;\n    break;\n  default:\n    mensagem = 'Ocorreu um erro. Por favor, tente novamente.';\n}\nreturn [{json:{ workspace_id: entrada.workspace_id, conversation_id: entrada.conversation_id, mensagem, status }}];"},"id":"code-resposta-identify","name":"Code: Resposta Identify","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,640]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-token","value":"chatbanana-n8n-2026"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, conversation_id: $('Set Entrada').item.json.conversation_id, message: $json.mensagem, type: 'text' }) }}","options":{}},"id":"post-envia-identify","name":"POST Envia Identify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,640]},{"id":"filtro-agente-001","name":"Filtro Agente","type":"n8n-nodes-base.if","typeVersion":2,"position":[-164,16],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-agente-001","leftValue":"={{ $json.agente_do_usuario }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}}}],"connections":{"Webhook":{"main":[[{"node":"Set Entrada","type":"main","index":0}]]},"Set Entrada":{"main":[[{"node":"Filtro Agente","type":"main","index":0}]]},"GET Sessao":{"main":[[{"node":"GET Historico","type":"main","index":0}]]},"GET Historico":{"main":[[{"node":"POST ERP Enrichment","type":"main","index":0}]]},"POST ERP Enrichment":{"main":[[{"node":"Code: Contexto + SDR","type":"main","index":0}]]},"Code: Contexto + SDR":{"main":[[{"node":"Orquestrador","type":"main","index":0}]]},"Switch: Routing V5":{"main":[[{"node":"POST Envia Identify","type":"main","index":0},{"node":"Code: Monta Menu","type":"main","index":0}],[{"node":"POST AI Suporte","type":"main","index":0}],[{"node":"POST AI Financeiro","type":"main","index":0}],[{"node":"POST AI Comercial","type":"main","index":0}],[{"node":"Code: Prepara Transfer?ncia","type":"main","index":0}],[{"node":"POST Identify","type":"main","index":0}],[{"node":"POST Identify","type":"main","index":0}],[{"node":"POST Identify","type":"main","index":0}]]},"Code: Monta Menu":{"main":[[{"node":"POST Envia Lista Menu","type":"main","index":0}]]},"POST Envia Lista Menu":{"main":[[{"node":"POST Salva Turno Menu","type":"main","index":0}]]},"POST Salva Turno Menu":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"POST AI Suporte":{"main":[[{"node":"POST Envia Suporte","type":"main","index":0}]]},"POST Envia Suporte":{"main":[[{"node":"POST Salva Turno Suporte","type":"main","index":0}]]},"POST Salva Turno Suporte":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"POST AI Financeiro":{"main":[[{"node":"POST Envia Financeiro","type":"main","index":0}]]},"POST Envia Financeiro":{"main":[[{"node":"POST Salva Turno Financeiro","type":"main","index":0}]]},"POST Salva Turno Financeiro":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"POST AI Comercial":{"main":[[{"node":"POST Envia Comercial","type":"main","index":0}]]},"POST Envia Comercial":{"main":[[{"node":"POST Salva Turno Comercial","type":"main","index":0}]]},"POST Salva Turno Comercial":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code: Prepara Transfer?ncia":{"main":[[{"node":"POST Envia Msg Transfer?ncia","type":"main","index":0}]]},"POST Envia Msg Transfer?ncia":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Orquestrador":{"main":[[{"node":"If","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"If":{"main":[[{"node":"POST AI Orquestrador","type":"main","index":0}]]},"POST Envia Transi??o":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch: Routing V5","type":"main","index":0}]]},"POST AI Orquestrador":{"main":[[{"node":"POST Envia Transi??o","type":"main","index":0}]]},"POST Identify":{"main":[[{"node":"Code: Resposta Identify","type":"main","index":0}]]},"Code: Resposta Identify":{"main":[[{"node":"POST Envia Identify","type":"main","index":0}]]},"POST Envia Identify":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Filtro Agente":{"main":[[{"node":"GET Sessao","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-n8n.xhtsxx.easypanel.host","user-agent":"node","content-length":"1174","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n-n8n.xhtsxx.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"8c445d22e259","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"automation_trigger","lead_id":122,"workspace_id":"aa73eb2b-b80d-4b6a-924f-79117f4fdf7e","conversation_id":"174","contact_phone":"559192424228","phone":"559192424228","telefone":"559192424228","contact_name":"","lead":{"name":"Bruno Danglares","phone":"559192424228","email":null,"status":"sup_aberto_aa73eb2b","stage":"sup_aberto_aa73eb2b","value":"0.00"},"variables":{"nome":"Bruno Danglares","telefone":"559192424228","messageText":"832.953.211-91"},"message":"832.953.211-91","mensagem":"832.953.211-91","media_transcription":"","is_audio":false,"message_count":8,"is_first_message":false,"conversation_history":[{"role":"user","content":"Oiii"},{"role":"assistant","content":"Olá! 😊 Para continuar, preciso confirmar sua identidade."},{"role":"assistant","content":"Por favor, me informe seu *CPF* (somente números):"},{"role":"user","content":"832.953.211-91"},{"role":"user","content":"Oi"},{"role":"assistant","content":"Olá! 😊 Para continuar, preciso confirmar sua identidade."},{"role":"assistant","content":"Por favor, me informe seu *CPF* (somente números):"},{"role":"user","content":"832.953.211-91"}],"timestamp":"2026-04-04T16:43:21.777Z"},"webhookUrl":"https://n8n-n8n.xhtsxx.easypanel.host/webhook/chatbanana-isp-v5","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"28e54f4e-f46e-471b-8591-579a4c0baa2a","activeVersionId":"28e54f4e-f46e-471b-8591-579a4c0baa2a","versionCounter":612,"triggerCount":1,"shared":[{"updatedAt":"2026-04-04T00:40:21.366Z","createdAt":"2026-04-04T00:40:21.366Z","role":"workflow:owner","workflowId":"7bFZJqc6KCcx0zsZ","projectId":"eSKhKNIYoDjD8s7u","project":{"updatedAt":"2026-03-18T17:26:56.369Z","createdAt":"2026-03-18T16:58:34.420Z","id":"eSKhKNIYoDjD8s7u","name":"Bruno Danglares <danglaresb@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"4e962faa-90cc-471e-bcc1-f79a371b26f0"}}],"tags":[{"updatedAt":"2026-04-03T14:58:43.416Z","createdAt":"2026-04-03T14:58:43.416Z","id":"GkxFpQsrDfhhXr6V","name":"ISP"},{"updatedAt":"2026-04-04T00:40:19.707Z","createdAt":"2026-04-04T00:40:19.707Z","id":"ZpuKR0PuEvRIMWG6","name":"Memória"},{"updatedAt":"2026-04-04T00:40:19.701Z","createdAt":"2026-04-04T00:40:19.701Z","id":"hRADzF6CnkncLkKn","name":"V5"},{"updatedAt":"2026-04-03T14:58:43.419Z","createdAt":"2026-04-03T14:58:43.419Z","id":"uaWdpNaZCcaqPkrW","name":"ChatBanana"}],"activeVersion":{"updatedAt":"2026-04-04T20:04:26.103Z","createdAt":"2026-04-04T20:04:26.103Z","versionId":"28e54f4e-f46e-471b-8591-579a4c0baa2a","workflowId":"7bFZJqc6KCcx0zsZ","nodes":[{"parameters":{"content":"# ?? ENTRADA\n\nRecebe payload do ChatBanana.\nInicia mem?ria e sess?o.","height":304,"width":528,"color":5},"id":"0e26a670-8432-4432-bacd-e0dd2f84cb65","name":"?? S1 - ENTRADA","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-736,-176]},{"parameters":{"httpMethod":"POST","path":"chatbanana-isp-v5","options":{}},"id":"c991e5e7-9b64-4274-b51f-08a8679dc2b2","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-656,16],"webhookId":"68ce9731-0aef-4770-ac32-e14f95796bdc"},{"parameters":{"assignments":{"assignments":[{"id":"c6eed7fc-af20-417e-8c2c-bb4daf31d16d","name":"telefone","value":"={{ $json.body.telefone ?? $json.body.phone ?? '' }}","type":"string"},{"id":"74b8e65c-d12b-4a93-a7e0-f06259926e2b","name":"mensagem","value":"={{ $json.body.mensagem ?? $json.body.message ?? '' }}","type":"string"},{"id":"55cf6a63-9c8b-400c-8dba-ba5d53106b84","name":"mensagem_efetiva","value":"={{ $json.body.media_transcription || $json.body.media_description || $json.body.mensagem || $json.body.message || '' }}","type":"string"},{"id":"a76bf708-2b45-40d6-833d-7999856ba5c5","name":"conversation_id","value":"={{ $json.body.conversation_id ?? '' }}","type":"string"},{"id":"aa1344b4-014c-40a4-9748-4b409a6a5712","name":"workspace_id","value":"={{ $json.body.workspace_id ?? '' }}","type":"string"},{"id":"b975d537-eb1b-4d85-883b-cd1aab86d351","name":"contact_name","value":"={{ $json.body.contact_name ?? 'Cliente' }}","type":"string"},{"id":"e267b270-b2ad-4e3b-99de-879fd8d001a1","name":"chatbanana_url","value":"https://chatbanana.com.br","type":"string"},{"id":"18943fe8-dc65-4d94-9886-1ac012391ea0","name":"chatbanana_token","value":"chatbanana-n8n-2026","type":"string"},{"id":"agente-filter-001","name":"agente_do_usuario","value":"={{ $json.body.agente_do_usuario ?? false }}","type":"boolean"}]},"options":{}},"id":"fa7e975a-5810-41ca-9307-7636bf79148b","name":"Set Entrada","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,16]},{"parameters":{"content":"# ?? MEM?RIA + SESS?O\n\nCarrega hist?rico e estado\nda conversa do Supabase.","height":304,"width":528,"color":6},"id":"d157686d-4bac-429e-8de4-dbf426b17630","name":"S2 - MEMORIA + SESSAO","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-736,144]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/memory/session","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer chatbanana-n8n-2026"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, conversation_id: $('Set Entrada').item.json.conversation_id, telefone: $('Set Entrada').item.json.telefone }) }}","options":{"timeout":30000}},"id":"40faf894-3467-4787-b9de-7fa79300e4ff","name":"GET Sessao","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,176],"alwaysOutputData":true},{"parameters":{"url":"={{ $('Set Entrada').item.json.chatbanana_url + \"/api/n8n/memory/history/\" + $('Set Entrada').item.json.conversation_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer chatbanana-n8n-2026"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":30000}},"id":"a7d41e72-19d2-49e6-828b-092a800f3913","name":"GET Historico","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,320],"alwaysOutputData":true},{"parameters":{"content":"# ?? ERP ENRICHMENT\n\nIdentifica cliente pelo telefone.\nPersonaliza sauda??o pelo nome.","height":192,"width":528,"color":4},"id":"1f1c6935-7e97-4a24-803e-884b15b81416","name":"?? S3 - ERP ENRICHMENT","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-736,448]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/erp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ action: 'enrichmentCompleto', params: { cpf: $('GET Sessao').item.json.session?.cpf ?? null, contrato_id: $('GET Sessao').item.json.session?.contrato_id ?? null }, workspace_id: $('Set Entrada').item.json.workspace_id }) }}","options":{"timeout":20000}},"id":"f27056cf-fc67-42d5-90bb-50c8b4b65abe","name":"POST ERP Enrichment","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,496],"alwaysOutputData":true},{"parameters":{"content":"# ?? CONTEXTO + SDR\n\nMonta contexto com mem?ria.\nClassifica intent considerando sess?o.","height":192,"width":528,"color":3},"id":"243dbedf-c13e-4bd0-bea1-31b0625e91d4","name":"?? S4 - CONTEXTO + SDR","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-736,640]},{"parameters":{"jsCode":"const entrada  = $('Set Entrada').item.json;\nconst sessRaw  = $('GET Sessao').item.json;\nconst histRaw  = $('GET Historico').item.json;\nconst erpRaw   = $('POST ERP Enrichment').item.json;\nconst sessao   = sessRaw.session ?? {};\nconst historico = histRaw.history ?? [];\nconst erp      = erpRaw.result ?? erpRaw;\nconst F        = erp.financial ?? {};\nconst msg      = (entrada.mensagem_efetiva || entrada.mensagem || '').toLowerCase().trim();\nconst msgOriginal = entrada.mensagem_efetiva || entrada.mensagem || '';\n\n// ?? Detec??o de CPF na mensagem ??????????????????????????????\nconst cpfRegex = /(\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}|\\d{11})/;\nconst cpfEncontrado = msgOriginal.match(cpfRegex)?.[0]?.replace(/\\D/g, '') ?? null;\nconst cpfSessao = sessao.dados_coletados?.cpf ?? sessao.cpf ?? null;\nconst cpfAtivo = cpfEncontrado ?? cpfSessao ?? null;\n\n// ?? Detec??o de sele??o de contrato ??????????????????????????\nconst contratoSelecionado = sessao.contrato_id ?? null;\nconst multiplosContratos = erp.multiplos_contratos ?? false;\nconst aguardandoCpf = erp.aguardando_cpf ?? false;\nconst contratos = erp.contratos ?? [];\n\n// ?? Nome do cliente ???????????????????????????????????????????\nconst clienteNome = erp.contrato_selecionado?.cliente?.name\n  ?? erp.cliente?.name\n  ?? sessao.cliente_nome\n  ?? entrada.contact_name\n  ?? 'Cliente';\n\nconst jaIdentificado = sessao.identificado === true || !!cpfAtivo;\nconst fluxoAtual     = sessao.fluxo_atual ?? 'menu';\nconst primeiraMensagem = historico.length === 0;\n\n// ?? Hist?rico formatado ???????????????????????????????????????\nconst historicoFormatado = historico.length > 0\n  ? historico.map(t => `${t.role==='user'?'Cliente':'Agente'}: ${t.content}`).join('\\n')\n  : 'Primeira intera??o.';\n\n// ?? SDR: classifica??o de intent ??????????????????????????????\nlet intent = 'MENU';\n\nconst eSaudacao = ['oi','ol?','ola','bom dia','boa tarde','boa noite','hello','hi','hey','oii','oiii'].some(s=>msg===s||msg.startsWith(s+' '));\n\n// Cliente enviou CPF ? intent especial para processar identifica??o\nif (cpfEncontrado && !cpfSessao) {\n  intent = 'IDENTIFICACAO';\n}\n// M?ltiplos contratos e cliente ainda n?o escolheu ? aguardar sele??o\nelse if (multiplosContratos && !contratoSelecionado) {\n  intent = 'SELECAO_CONTRATO';\n}\n// Aguardando CPF ? solicitar identifica??o\nelse if (aguardandoCpf && !cpfAtivo) {\n  intent = 'SOLICITAR_CPF';\n}\n// Est? em fluxo espec?fico e n?o mudou de assunto\nelse if (fluxoAtual !== 'menu' && !eSaudacao) {\n  intent = fluxoAtual.toUpperCase();\n}\n\n// Keywords por departamento\nconst kSup  = ['suporte','sem internet','internet caiu','lento','lentid?o','offline','n?o conecta','sem sinal','reiniciar','roteador','velocidade','queda'];\nconst kFin  = ['financeiro','fatura','boleto','pagar','d?bito','cobran?a','segunda via','pix','vencimento','renegocia??o','desbloquear','promessa'];\nconst kCom  = ['contratar','novo plano','planos','upgrade','instala??o','mudar plano','comercial','assinar','pacote','velocidade maior'];\nconst kHum  = ['humano','atendente','pessoa','falar com','transferir','quero falar'];\n\nif (intent === 'MENU' || intent === 'MENU') {\n  if (kHum.some(w=>msg.includes(w)))       intent = 'HUMANO';\n  else if (kSup.some(w=>msg.includes(w)))  intent = 'SUPORTE';\n  else if (kFin.some(w=>msg.includes(w)))  intent = 'FINANCEIRO';\n  else if (kCom.some(w=>msg.includes(w)))  intent = 'COMERCIAL';\n  else if (eSaudacao || primeiraMensagem)   intent = 'MENU';\n}\n\n// Override: suspenso ? financeiro\nif (F.is_suspended && intent === 'MENU') intent = 'FINANCEIRO';\n\nreturn [{json:{\n  ...erp,\n  mensagem:              msg,\n  mensagem_original:     msgOriginal,\n  conversation_id:       entrada.conversation_id,\n  workspace_id:          entrada.workspace_id,\n  telefone:              entrada.telefone,\n  contact_name:          entrada.contact_name,\n  cliente_nome:          clienteNome,\n  ja_identificado:       jaIdentificado,\n  primeira_mensagem:     primeiraMensagem,\n  fluxo_atual:           fluxoAtual,\n  historico_formatado:   historicoFormatado,\n  sessao,\n  intent,\n  cpf_ativo:             cpfAtivo,\n  cpf_encontrado:        cpfEncontrado,\n  multiplos_contratos:   multiplosContratos,\n  contratos:             contratos,\n  contrato_selecionado:  erp.contrato_selecionado ?? null,\n  aguardando_cpf:        aguardandoCpf,\n}}];"},"id":"4f44a608-a78e-425a-a3a9-cbe729f370c3","name":"Code: Contexto + SDR","type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,688]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2dac23de-f762-40a7-8d64-24824a469d09","leftValue":"={{ $json.intent }}","rightValue":"MENU","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2bb1ddc4-c40a-41c4-b563-d788369bbe99","leftValue":"={{ $json.intent }}","rightValue":"SUPORTE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"85424b7f-afc0-485e-a815-49717f9f9e25","leftValue":"={{ $json.intent }}","rightValue":"FINANCEIRO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"79b9dfec-3bb3-4fc5-a0ae-eb3fae3c8581","leftValue":"={{ $json.intent }}","rightValue":"COMERCIAL","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ebb52d31-74bf-4996-a773-f8024126adb4","leftValue":"={{ $json.intent }}","rightValue":"HUMANO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"314f74f8-646e-4e4e-a6fb-eaccd2d6495e","leftValue":"={{ $json.intent }}","rightValue":"SOLICITAR_CPF","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d38aa566-7d5c-4ccf-9cce-4a73985cccea","leftValue":"={{ $json.intent }}","rightValue":"IDENTIFICACAO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9e7583a3-092b-46ac-98ee-d0fc8952907a","leftValue":"={{ $json.intent }}","rightValue":"SELECAO_CONTRATO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"none"}},"id":"d626b36f-35e4-4755-b89a-a1e62fa82ea8","name":"Switch: Routing V5","type":"n8n-nodes-base.switch","typeVersion":3,"position":[640,224]},{"parameters":{"content":"# ? MENU PRINCIPAL\n\nSauda??o personalizada pelo nome.\nEnvia lista interativa WhatsApp.","height":240,"width":896,"color":2},"id":"5a7ce444-d746-4b57-8273-478c85514831","name":"? S6 - MENU PRINCIPAL","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1904,160]},{"parameters":{"jsCode":"const ctx  = $('Code: Contexto + SDR').item.json;\nconst nome = ctx.cliente_nome ?? 'Cliente';\nconst isCliente = ctx.ja_identificado && !!ctx.cliente?.id;\nlet saudacao;\nif (ctx.primeira_mensagem) {\n  if (isCliente) {\n    saudacao = `Olá, ${nome}! Que bom ter você aqui!\\n\\nVi que você já é nosso cliente. Como posso ajudar hoje?`;\n  } else {\n    saudacao = `Olá! Seja bem-vindo(a)!\\n\\nSou o assistente virtual. Como posso ajudar?`;\n  }\n} else {\n  saudacao = `${nome}, como posso ajudar? Selecione uma opção abaixo:`;\n}\nconst sections = [\n  {\n    title: \"Atendimento\",\n    rows: [\n      { id: \"SUPORTE\",    title: \"Suporte Técnico\",     description: \"Internet lenta, sem conexão, problemas\" },\n      { id: \"FINANCEIRO\", title: \"Financeiro\",               description: \"Faturas, pagamentos, desbloqueio\" },\n      { id: \"COMERCIAL\",  title: \"Comercial\",                description: \"Novos planos, upgrade, contratação\" },\n      { id: \"HUMANO\",     title: \"Falar com Atendente\",      description: \"Atendimento humano\" },\n    ]\n  }\n];\nreturn [{json:{\n  saudacao,\n  sections,\n  conversation_id: ctx.conversation_id,\n  workspace_id:    ctx.workspace_id,\n  cliente_nome:    nome,\n  ja_identificado: isCliente,\n  cliente_id:      ctx.cliente?.id ?? null,\n}}];"},"id":"cfbaaa2a-b2ac-47eb-a21d-365f2d875443","name":"Code: Monta Menu","type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,256]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/send/list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer chatbanana-n8n-2026"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ conversation_id: $('Set Entrada').item.json.conversation_id, workspace_id: $('Set Entrada').item.json.workspace_id, type: 'list', header: 'Sofia - Atendimento', body: $('Code: Monta Menu').item.json.saudacao, footer: 'Escolha uma opção abaixo', button_label: 'Ver opções', sections: $('Code: Monta Menu').item.json.sections }) }}","options":{"timeout":30000}},"id":"c09036ce-80ce-493e-92a3-37cb23fc3d43","name":"POST Envia Lista Menu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2224,256]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/memory/save","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, conversation_id: $('Set Entrada').item.json.conversation_id, telefone: $('Set Entrada').item.json.telefone, user_message: $('Set Entrada').item.json.mensagem, assistant_message: \"\", intent: \"MENU\", session_updates: { fluxo_atual: \"menu\", identificado: $(\"Code: Contexto + SDR\").item.json.ja_identificado ?? false, cliente_nome: $(\"Code: Contexto + SDR\").item.json.cliente_nome ?? \"\", dados_coletados: { cpf: $(\"Code: Contexto + SDR\").item.json.cpf_ativo ?? null }, cliente_id_erp: $(\"GET Sessao\").item.json.session?.cliente_id_erp ?? \"\" } }) }}","options":{"timeout":10000}},"id":"b73a6a07-4121-433e-8c0f-819e35287b44","name":"POST Salva Turno Menu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2416,256],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"content":"# ?? SUPORTE T?CNICO\n\nConsulta status no SGP.\nTroubleshooting guiado.\nAbre chamado se n?o resolver.","height":224,"width":656,"color":6},"id":"5454676c-725f-495c-98c8-a46e4f4ea7ef","name":"?? S7 - SUPORTE T?CNICO","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1088,-480]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/ai","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer chatbanana-n8n-2026"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, prompt_name: 'agente_suporte_online', mensagem: $('Set Entrada').item.json.mensagem, context: Object.assign({}, $json, { conversation_id: $('Set Entrada').item.json.conversation_id, telefone: $('Set Entrada').item.json.telefone, contact_name: $('Set Entrada').item.json.contact_name, sessao: $('GET Sessao').item.json.session ?? {}, briefing: $('Orquestrador').item.json.orquestrador?.briefing ?? '' }), historico: $('GET Historico').item.json.history ?? [] }) }}","options":{"timeout":30000}},"id":"ebf04c5e-843f-45b1-9606-f11c09700d24","name":"POST AI Suporte","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,-400]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ conversation_id: $(\"Set Entrada\").item.json.conversation_id, message: $json.result?.response ?? $json.response ?? \"\", humanize: true }) }}","options":{"timeout":20000}},"id":"7c810749-d453-4b10-b66b-da4738e2606a","name":"POST Envia Suporte","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,-400]},{"parameters":{"method":"POST","url":"=={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/memory/save","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $(\"Set Entrada\").item.json.workspace_id, conversation_id: $(\"Set Entrada\").item.json.conversation_id, telefone: $(\"Set Entrada\").item.json.telefone, user_message: $(\"Code: Contexto + SDR\").item.json.mensagem_original, assistant_message: $(\"POST AI Suporte\").item.json.result?.response ?? $(\"POST AI Suporte\").item.json.response ?? \"\", intent: \"SUPORTE\", session_updates: { fluxo_atual: \"suporte\", identificado: true, cliente_nome: $(\"Code: Contexto + SDR\").item.json.cliente_nome, cliente_id_erp: $(\"Code: Contexto + SDR\").item.json.cliente?.id ?? \"\" } }) }}","options":{"timeout":10000}},"id":"b2f2320c-e1d8-432e-b477-d0cf8e2f94bf","name":"POST Salva Turno Suporte","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,-400],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"content":"# ?? FINANCEIRO\n\nFaturas, pagamentos, promessa.\nDesbloqueio nativo SGP/IXC.","height":224,"width":656,"color":4},"id":"d8d49fd4-69f5-4939-9c63-8cc843019749","name":"?? S8 - FINANCEIRO","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1088,-240]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/ai","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer chatbanana-n8n-2026"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, prompt_name: 'agente_financeiro', mensagem: $('Set Entrada').item.json.mensagem, context: Object.assign({}, $json, { conversation_id: $('Set Entrada').item.json.conversation_id, telefone: $('Set Entrada').item.json.telefone, contact_name: $('Set Entrada').item.json.contact_name, sessao: $('GET Sessao').item.json.session ?? {}, briefing: $('Orquestrador').item.json.orquestrador?.briefing ?? '' }), historico: $('GET Historico').item.json.history ?? [] }) }}","options":{"timeout":30000}},"id":"4522523c-3397-4f63-8503-382f63dbe20f","name":"POST AI Financeiro","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1216,-144]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ conversation_id: $(\"Set Entrada\").item.json.conversation_id, message: $json.result?.response ?? $json.response ?? \"\", humanize: true }) }}","options":{"timeout":20000}},"id":"ef126b0f-fb2c-4ca3-83a7-92298c2eed21","name":"POST Envia Financeiro","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,-144]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/memory/save","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $(\"Set Entrada\").item.json.workspace_id, conversation_id: $(\"Set Entrada\").item.json.conversation_id, telefone: $(\"Set Entrada\").item.json.telefone, user_message: $(\"Code: Contexto + SDR\").item.json.mensagem_original, assistant_message: $(\"POST AI Financeiro\").item.json.result?.response ?? $(\"POST AI Financeiro\").item.json.response ?? \"\", intent: \"FINANCEIRO\", session_updates: { fluxo_atual: \"financeiro\", cliente_nome: $(\"Code: Contexto + SDR\").item.json.cliente_nome, cliente_id_erp: $(\"Code: Contexto + SDR\").item.json.cliente?.id ?? \"\" } }) }}","options":{"timeout":10000}},"id":"07e8115a-9ec7-424f-a3fe-acc5339addef","name":"POST Salva Turno Financeiro","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,-144],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"content":"# ?? COMERCIAL\n\nSDR de vendas.\nVerifica viabilidade no SGP.\nColeta dados e fecha contrato.","height":288,"width":656,"color":5},"id":"d4929e82-ac18-4b0c-b693-d48220041779","name":"?? S9 - COMERCIAL","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1088,0]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/ai","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer chatbanana-n8n-2026"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, prompt_name: 'agente_financeiro', mensagem: $('Set Entrada').item.json.mensagem, context: Object.assign({}, $json, { conversation_id: $('Set Entrada').item.json.conversation_id, telefone: $('Set Entrada').item.json.telefone, contact_name: $('Set Entrada').item.json.contact_name, sessao: $('GET Sessao').item.json.session ?? {}, briefing: $('Orquestrador').item.json.orquestrador?.briefing ?? '' }), historico: $('GET Historico').item.json.history ?? [] }) }}","options":{"timeout":30000}},"id":"e955dca8-6280-43ce-9cef-1f7c192cfdd0","name":"POST AI Comercial","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1216,144]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ conversation_id: $(\"Set Entrada\").item.json.conversation_id, message: $json.result?.response ?? $json.response ?? \"\", humanize: true }) }}","options":{"timeout":20000}},"id":"5a639483-cbcd-467c-8350-5b627cfd82cb","name":"POST Envia Comercial","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,144]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/memory/save","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $(\"Set Entrada\").item.json.workspace_id, conversation_id: $(\"Set Entrada\").item.json.conversation_id, telefone: $(\"Set Entrada\").item.json.telefone, user_message: $(\"Code: Contexto + SDR\").item.json.mensagem_original, assistant_message: $(\"POST AI Comercial\").item.json.result?.response ?? $(\"POST AI Comercial\").item.json.response ?? \"\", intent: \"COMERCIAL\", session_updates: { fluxo_atual: \"comercial\", cliente_nome: $(\"Code: Contexto + SDR\").item.json.cliente_nome } }) }}","options":{"timeout":10000}},"id":"3bb1fbb2-5f32-4439-a710-cee8ed400d7d","name":"POST Salva Turno Comercial","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,144],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"content":"# ?? TRANSFER?NCIA\n\nTransfere para fila humana.\nEnvia resumo da conversa.","height":224,"width":656},"id":"de274d88-035f-4685-bdd4-3e02cda4276d","name":"?? S10 - TRANSFER?NCIA HUMANO","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1088,304]},{"parameters":{"jsCode":"const ctx  = $('Code: Contexto + SDR').item.json;\nconst hist = $('GET Historico').item.json.history ?? [];\nconst resumo = hist.slice(-6).map(t=>`${t.role==='user'?'Cliente':'Agente'}: ${t.content}`).join('\\n');\nconst msg = `?? *Transferindo para atendente humano*\\n\\n${ctx.cliente_nome}, vou te conectar com um de nossos especialistas agora.\\n\\nAguarde um momento! ??`;\nreturn [{json:{ mensagem_transferencia: msg, resumo_conversa: resumo, conversation_id: ctx.conversation_id, workspace_id: ctx.workspace_id }}];"},"id":"77eb3c4c-8a89-4e63-a61f-bfc49792b71d","name":"Code: Prepara Transfer?ncia","type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,368]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Entrada').item.json.chatbanana_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ conversation_id: $json.conversation_id, message: $json.mensagem_transferencia, humanize: false }) }}","options":{"timeout":15000}},"id":"c37f31d7-c20d-4815-8667-15cacf1fe94d","name":"POST Envia Msg Transfer?ncia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,368]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ok:true,intent:$(\"Code: Contexto + SDR\").item.json.intent??\"\"}) }}","options":{}},"id":"c3dacecf-eaed-4872-940d-f91215ac6479","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2624,256]},{"parameters":{"jsCode":"const entrada   = $('Set Entrada').item.json;\nconst sessao    = $('GET Sessao').item.json.session ?? {};\nconst erp       = $('POST ERP Enrichment').item.json?.result ?? $('POST ERP Enrichment').item.json ?? {};\nconst sdr       = $json;\n\nconst fluxoAtual      = sessao.fluxo_atual ?? 'menu';\nconst novoIntent      = sdr.intent;\nconst primeiraMensagem = sdr.primeira_mensagem;\nconst clienteNome     = sdr.cliente_nome ?? '';\nconst primeiroNome    = clienteNome.split(' ')[0] || 'cliente';\nconst F               = erp.financial ?? erp.financeiro ?? {};\n\nconst intentToFluxo = { SUPORTE:'suporte', FINANCEIRO:'financeiro', COMERCIAL:'comercial', MENU:'menu', HUMANO:'humano' };\nconst novoFluxo     = intentToFluxo[novoIntent] ?? 'menu';\nconst mudouDeFluxo  = fluxoAtual !== novoFluxo && novoFluxo !== 'menu' && fluxoAtual !== 'menu';\nconst entrouEmFluxo = fluxoAtual === 'menu' && novoFluxo !== 'menu';\n\nlet mensagemTransicao = null;\nlet deveSendTransicao = false;\nlet briefing = '';\n\nif (mudouDeFluxo || entrouEmFluxo) {\n  deveSendTransicao = true;\n\n  switch(novoIntent) {\n    case 'SUPORTE': {\n      const statusConexao = erp.conexao?.status ?? erp.connection?.status ?? 'desconhecido';\n      const estaOffline   = erp.conexao?.esta_offline ?? erp.conexao?.offline ?? false;\n      mensagemTransicao = `Entendido${primeiroNome ? ', ' + primeiroNome : ''}! Vou verificar a situacao da sua conexao agora.`;\n      briefing = `BRIEFING DO ORQUESTRADOR: Cliente reportou problema de suporte. Status da conexao no ERP: ${statusConexao}. ${estaOffline ? 'ATENCAO: conexao offline no ERP.' : ''} Va direto ao diagnostico sem apresentacoes.`;\n      break;\n    }\n    case 'FINANCEIRO': {\n      const valor    = F.valor_devido ?? F.amount_due ?? 0;\n      const suspenso = F.esta_suspenso ?? F.is_suspended ?? false;\n      const faturas  = F.faturas_abertas ?? F.open_invoices ?? 0;\n      mensagemTransicao = `Certo! Deixa eu verificar sua situacao financeira...`;\n      briefing = `BRIEFING DO ORQUESTRADOR: Cliente quer tratar financeiro. Situacao: valor devido R$${valor}, ${faturas} fatura(s) em aberto, conexao ${suspenso ? 'SUSPENSA' : 'ativa'}. Apresente esses dados imediatamente na primeira resposta sem perguntar nada.`;\n      break;\n    }\n    case 'COMERCIAL': {\n      const plano      = erp.cliente?.plano ?? erp.client?.plan ?? 'nao identificado';\n      const velocidade = erp.cliente?.velocidade ?? erp.client?.speed ?? '';\n      mensagemTransicao = `Otimo! Vou te mostrar as opcoes disponiveis.`;\n      briefing = `BRIEFING DO ORQUESTRADOR: Cliente interessado em planos/upgrade. Plano atual: ${plano}${velocidade ? ' / ' + velocidade : ''}. Ofereca opcoes relevantes para o perfil.`;\n      break;\n    }\n  }\n}\n\nif (!deveSendTransicao && novoFluxo !== 'menu') {\n  briefing = `Continuacao do atendimento em ${novoFluxo}. NAO se apresente. Continue exatamente de onde parou na conversa.`;\n}\n\nif (primeiraMensagem && novoFluxo === 'menu') {\n  briefing = 'Primeira interacao do cliente. O menu sera enviado em seguida.';\n}\n\nreturn [{json: {\n  ...sdr,\n  intent: novoIntent,\n  orquestrador: {\n    deve_enviar_transicao: deveSendTransicao,\n    mensagem_transicao: mensagemTransicao,\n    briefing,\n    fluxo_anterior: fluxoAtual,\n    novo_fluxo: novoFluxo\n  }\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,400],"id":"e9a40e39-c03d-4d0c-abe2-26618a3047c5","name":"Orquestrador"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b71591e2-3d08-4d9d-a3a1-2264f6bb0efa","leftValue":"{{ $json.orquestrador.deve_enviar_transicao }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-16,240],"id":"f794af2f-1bf5-4bc5-8325-5fcc25209ae1","name":"If"},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-n8n-token","value":"chatbanana-n8n-2026"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json ","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, conversation_id: $('Set Entrada').item.json.conversation_id, message: $('POST AI Orquestrador').item.json.response, type: 'text' }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,480],"id":"46fe1290-1d56-4e19-98bb-6b889a613827","name":"POST Envia Transi??o"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[240,672],"id":"c654d72d-70ad-4342-aabf-d4351a4af0d4","name":"Merge"},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/ai","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-token","value":"chatbanana-n8n-2026"}]},"sendBody":true,"contentType":"raw","rawContentType":"=application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, prompt_name: 'agente_orquestrador', mensagem: $('Set Entrada').item.json.mensagem, context: { intent: $('Orquestrador').item.json.intent, fluxo_anterior: $('Orquestrador').item.json.orquestrador.fluxo_anterior, novo_fluxo: $('Orquestrador').item.json.orquestrador.novo_fluxo, cliente_nome: $('Orquestrador').item.json.cliente_nome, primeira_mensagem: $('Orquestrador').item.json.primeira_mensagem, financeiro: $('Orquestrador').item.json.financeiro, conexao: $('Orquestrador').item.json.conexao, sessao: $('GET Sessao').item.json.session ?? {} }, historico: $('GET Historico').item.json.history ?? [] }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,224],"id":"012ceb8f-ae36-4ba5-951b-83d80a3fe3a1","name":"POST AI Orquestrador"},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/identify","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-token","value":"chatbanana-n8n-2026"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, conversation_id: $('Set Entrada').item.json.conversation_id, telefone: $('Set Entrada').item.json.telefone, cpf: $json.cpf_ativo ?? null, contrato_id: $('GET Sessao').item.json.session?.contrato_id ?? null }) }}","options":{}},"id":"identify-node-01","name":"POST Identify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,640]},{"parameters":{"jsCode":"const entrada = $('Set Entrada').item.json;\nconst resultado = $json;\nconst status = resultado.status;\nlet mensagem = '';\nswitch(status) {\n  case 'aguardando_cpf':\n    mensagem = 'Olá! Para continuar, preciso confirmar sua identidade.\\n\\nPor favor, me informe seu *CPF* (somente números):';\n    break;\n  case 'nao_encontrado':\n    mensagem = 'Não encontrei cadastro com esse CPF. Verifique os números e tente novamente, ou digite *humano* para falar com um atendente.';\n    break;\n  case 'multiplos_contratos':\n    const lista = resultado.contratos.map((c, i) => `*${i+1}.* ${c.endereco ?? 'Endereço não informado'} - Plano: ${c.plano ?? '-'} (${c.status ?? '-'})`).join('\\n');\n    mensagem = `Encontrei *${resultado.contratos.length} contratos* vinculados ao seu CPF:\\n\\n${lista}\\n\\nQual contrato você quer tratar? Responda com o *número* da opção.`;\n    break;\n  case 'identificado':\n    const nome = resultado.cliente?.name?.split(' ')[0] ?? 'cliente';\n    mensagem = `Identidade confirmada! Olá, *${nome}*!\\n\\nComo posso te ajudar hoje?`;\n    break;\n  default:\n    mensagem = 'Ocorreu um erro. Por favor, tente novamente.';\n}\nreturn [{json:{ workspace_id: entrada.workspace_id, conversation_id: entrada.conversation_id, mensagem, status }}];"},"id":"code-resposta-identify","name":"Code: Resposta Identify","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,640]},{"parameters":{"method":"POST","url":"={{ $('Set Entrada').item.json.chatbanana_url }}/api/n8n/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-token","value":"chatbanana-n8n-2026"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ workspace_id: $('Set Entrada').item.json.workspace_id, conversation_id: $('Set Entrada').item.json.conversation_id, message: $json.mensagem, type: 'text' }) }}","options":{}},"id":"post-envia-identify","name":"POST Envia Identify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,640]},{"id":"filtro-agente-001","name":"Filtro Agente","type":"n8n-nodes-base.if","typeVersion":2,"position":[-164,16],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-agente-001","leftValue":"={{ $json.agente_do_usuario }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}}}],"connections":{"Webhook":{"main":[[{"node":"Set Entrada","type":"main","index":0}]]},"Set Entrada":{"main":[[{"node":"Filtro Agente","type":"main","index":0}]]},"GET Sessao":{"main":[[{"node":"GET Historico","type":"main","index":0}]]},"GET Historico":{"main":[[{"node":"POST ERP Enrichment","type":"main","index":0}]]},"POST ERP Enrichment":{"main":[[{"node":"Code: Contexto + SDR","type":"main","index":0}]]},"Code: Contexto + SDR":{"main":[[{"node":"Orquestrador","type":"main","index":0}]]},"Switch: Routing V5":{"main":[[{"node":"POST Envia Identify","type":"main","index":0},{"node":"Code: Monta Menu","type":"main","index":0}],[{"node":"POST AI Suporte","type":"main","index":0}],[{"node":"POST AI Financeiro","type":"main","index":0}],[{"node":"POST AI Comercial","type":"main","index":0}],[{"node":"Code: Prepara Transfer?ncia","type":"main","index":0}],[{"node":"POST Identify","type":"main","index":0}],[{"node":"POST Identify","type":"main","index":0}],[{"node":"POST Identify","type":"main","index":0}]]},"Code: Monta Menu":{"main":[[{"node":"POST Envia Lista Menu","type":"main","index":0}]]},"POST Envia Lista Menu":{"main":[[{"node":"POST Salva Turno Menu","type":"main","index":0}]]},"POST Salva Turno Menu":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"POST AI Suporte":{"main":[[{"node":"POST Envia Suporte","type":"main","index":0}]]},"POST Envia Suporte":{"main":[[{"node":"POST Salva Turno Suporte","type":"main","index":0}]]},"POST Salva Turno Suporte":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"POST AI Financeiro":{"main":[[{"node":"POST Envia Financeiro","type":"main","index":0}]]},"POST Envia Financeiro":{"main":[[{"node":"POST Salva Turno Financeiro","type":"main","index":0}]]},"POST Salva Turno Financeiro":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"POST AI Comercial":{"main":[[{"node":"POST Envia Comercial","type":"main","index":0}]]},"POST Envia Comercial":{"main":[[{"node":"POST Salva Turno Comercial","type":"main","index":0}]]},"POST Salva Turno Comercial":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code: Prepara Transfer?ncia":{"main":[[{"node":"POST Envia Msg Transfer?ncia","type":"main","index":0}]]},"POST Envia Msg Transfer?ncia":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Orquestrador":{"main":[[{"node":"If","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"If":{"main":[[{"node":"POST AI Orquestrador","type":"main","index":0}]]},"POST Envia Transi??o":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch: Routing V5","type":"main","index":0}]]},"POST AI Orquestrador":{"main":[[{"node":"POST Envia Transi??o","type":"main","index":0}]]},"POST Identify":{"main":[[{"node":"Code: Resposta Identify","type":"main","index":0}]]},"Code: Resposta Identify":{"main":[[{"node":"POST Envia Identify","type":"main","index":0}]]},"POST Envia Identify":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Filtro Agente":{"main":[[{"node":"GET Sessao","type":"main","index":0}],[]]}},"authors":"Bruno Danglares","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-04T20:04:26.303Z","id":207,"workflowId":"7bFZJqc6KCcx0zsZ","versionId":"28e54f4e-f46e-471b-8591-579a4c0baa2a","event":"activated","userId":"4e962faa-90cc-471e-bcc1-f79a371b26f0"},{"createdAt":"2026-04-04T20:04:26.269Z","id":206,"workflowId":"7bFZJqc6KCcx0zsZ","versionId":"28e54f4e-f46e-471b-8591-579a4c0baa2a","event":"deactivated","userId":"4e962faa-90cc-471e-bcc1-f79a371b26f0"}]}}